<!DOCTYPE html>
<html lang="en">

<head>
  {# GA now provided by partials/tracking.html #}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% include "partials/meta-info.html" %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/kit.css">
  {% if env.isProd %}{% include "partials/tracking.html" %}{% endif %}
</head> 


<body class="relative bg-black font-open" x-data="{ 'showModal': false }" @keydown.escape="showModal = false">
  {% include "partials/site-headB.html" %}
  {% include "partials/site-head-mobile.html" %}
  <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>
  {% include "partials/footer.html" %}
  <script defer src="/js/alpinecollapse-cdn.min.js"></script>
  <script defer src="/js/alpine-cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
</body>

</html>
